* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

header {
  width: 100%;
  height: 25px;
  padding: 2px 5px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: clip; 
  border: 1px solid #000000;
}

nav {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbtn {
  padding: 5px 10px;
  font-size: 16px;
  font-family: monospace;
  font-style: italic;
  color: white;
  text-decoration: none;
}

#mobileBtn{
  display: none;
}


.home {
  display: flex;
  align-items: center;
  height: auto;
}

.logo {
  height: 50px;
}

.container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.picture {
  width: 50%;
  margin: 0 auto;
}

.users {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

td {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.captcha {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.success {
  color: green;
}

h1 {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #080808;
  margin: 20px 0px;
}

.btn {
  width: 30%;
  padding: 5px;
  margin: 10px;
}

.textField {
  width: 80%;
}
.mainCaptcha {
  background-color: lightgray;
  text-align: center;
  color: blue;
}

@media only screen and (max-width: 768px) {
  nav{
    position: relative;
  }
  .navBtns {
    width: 100%;
    flex-direction: column;
    background-color: black;
    position: absolute;
    right: 0%;
    top: 60px;
    z-index: 1;
  }
  .navLabel{
    display: none;
  }

  #mobileBtn{
    display: block;
    position: absolute;
    right: 2%;
  }
  #mobileBtn:checked + .navLabel {
    display: block;
  }
  

  article{
    z-index: 0;
  }
}
